@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    font-family: 'Quicksand';
    margin: 5px 0px;
}
html{
    margin: 0px;
}

.banner,
nav{
    padding: 0px 120px;
}
header{
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-around;
    gap: 200px;
}
.banner{
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
}
.logo img{
    width: 62px;
    height: 62px;
}
.logo h3{
    font-size: 32px;
    font-weight: 700;
    padding-top: 10px;
}
.links ul{
    display: flex;
    gap: 50px;
    padding-top: 10px;
}
.links ul li,
.links ul li a{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
}

#a a,
.aa{
    color: orange;
}
#b a{
    color: #01ACFD;
}
#c a{
    color: #05D4DF;
}
#d a,
.d{
    color: #5D58EF;
}
.bb{
    color: #01ACFD;
}
.btn{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: orange;
    border-radius: 12px;
    border: none;
    width: 180px;
}

.curriculum{
    background-image: url('assets/bg.png');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; 
}
.btn-primary{
    padding: 10px 1px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: black;
    border-radius: 12px;
    border: none;
    width: 150px;
    margin: 20px 0px;
}

.ham img{
    display: none;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
}
.aa{
    margin: 0px;
}
p{
    font-size: 20px;
    font-weight: 400;
}
.banner img{
padding-right: 10px;
}

.curriculum,
.stories{
    display: block;
    text-align: center;
}
.curriculum h1,
.stories h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 60px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}
.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
    text-align: center;
    justify-content: center;
    display: block;
    width: 290px;
    padding: 40px 20px;
    margin: 0px;
}
.p{
    
    background: linear-gradient(180deg, #DEF5FF, #FFFFFF);
}
.q{
    
    background: linear-gradient(180deg, #FFF4DC, #FFFFFF);
}
.r{
    
    background: linear-gradient(180deg, #F2E8FF, #FFFFFF);
}
.card h3{
    font-size: 24px;
    font-weight: 700;
    margin: 15px;
}
.card p{
    font-size: 15px;
    font-weight: 500;
    color: #808080;
    margin: 15px;
}
.card h6{
    font-size: 15px;
    font-weight: 700;
}
.b{
    border-radius: 100%;
    background-color: orange;
    color: white;
    font-weight: 700;
    border: none;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.stories{
    background: linear-gradient(360deg,rgba(255, 244, 220, 0.5),#ffffff),url('assets/bg.png');
    background-blend-mode: overlay;
    margin: 0px;
    padding: 5px 120px;
}

.scards{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.bigcard{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
    text-align: left;
    justify-content: left;
    display: block;
    width: 50%;
    background-color: white;
    margin: 20px;
    overflow: hidden;
}
.smallcards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.scard{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
    text-align: left;
    align-items: center;
    margin: 20px;
}
.scard h4{
    padding: 0px 20px 10px;
}
.bigcard img,
.scard img{
    margin: 0px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.big,
.big h2,
.big p{
    padding: 20px;
}
.big p{
    font-size: 1rem;
    color: #666666;
}
.date{
    border-radius: 50px;
    width: auto;
    padding: 10px 20px;
    display: flex;
    justify-self:center;
    position: relative;
    z-index: 1;
}
.big .date{
    bottom: 50px;
    right: 50px;
    background-color: #3CD8E8;
    color: white;
}
.scard .date{
    bottom: 35px;
    right: 30px;
    color: white;
    background-color: #95B226;
}
#purple{
    background-color: #5D58F0;
}
@media screen and (max-width: 750px){
    *{
        margin: 5px;
    }
    body{
        margin: 0px;
        padding:0px;
    }
    .logo h3,.links,.contact{
        display: none;
    }
    .ham img{
        width: 20px;
        height: 20px;
        display:flex;
        padding-top: 20px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin: -10px;
        padding: 5px;
        border-bottom: orange solid;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 0px;
        justify-content: center;
        text-align:center;
    }
    .banner img{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .title{
        align-items: center;
    }
    .title h1{
        font-size: 32px;
        line-height: 40px;
    }
    P{
        font-size: 14px;
        font-weight: 500;
    }
    .curriculum,.cards{
        margin: 0px;
        justify-content: center;
        text-align:center;
        gap: 20px;
    }
    .curriculum h1{
        font-size: 24px;
        margin: 15px;
    }
    .next{
        display: none;
    }

}

