@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    font-family: 'Quicksand';
    margin: 5px 10px;
}
header{
    background-color: #FFFFFF;
}
nav{
    padding: 10px 50px;
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
}
.logo img{
    width: 62px;
    height: 62px;
}
.logo h3{
    font-size: 32px;
    font-weight: 700;
    padding-top: 10px;
}
.links ul{
    display: flex;
    gap: 50px;
    padding-top: 10px;
}
.links ul li,
.links ul li a{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
}

#a a,
.aa{
    color: orange;
}
#b a,
.bb{
    color: skyblue;
}
#c a{
    color: #05D4DF;
}
#d a{
    color: #5D58EF;
}
.btn{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: orange;
    border-radius: 12px;
    border: none;
    width: 180px;
}
.banner{
    padding: 10px 50px;
    display: flex;
    justify-content: space-around;
}
.curriculum,
.stories{
    background-image: url('assets/bg.png');
}
.btn-primary{
    padding: 10px 1px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: black;
    border-radius: 12px;
    border: none;
    width: 120px;
}

.ham img,hr{
    display: none;
}






@media screen and (max-width: 750px){
    *{
        margin: 0px;
    }
    body{
        margin: 0px;
        padding: 0px;
    }
    .logo h3,.links,.contact{
        display: none;
    }
    .ham img{
        width: 20px;
        height: 20px;
        display:flex;
        padding-top: 20px;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    hr{
        display: block;
        border-color: orange;
        width: 200%;
    }
}

